.inside {
    z-index: 9;
    background: linear-gradient(rgba(135, 155, 143, 0.8), rgba(146, 135, 155, 0)) center/cover fixed;
    background-color: rgba(146, 135, 155, 0.8);
    backdrop-filter: blur(5px);
    width: 140px;
    height: 140px;
    position: absolute;
    top: -4.5rem;
    right: -4.5rem;
    border-radius: 0 0 200px 200px;
    transition: all 0.5s ease-in-out, border-radius 1s, top 1s;
    overflow: hidden;
  
    .icon {
      position: absolute;
      right: 85px;
      top: 85px;
      color: #fff;
      opacity: 1;
    }
  
    &:hover {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 100%;
  
      .icon {
        opacity: 0;
        right: 15px;
        top: 15px;
      }
  
      .contents {
        opacity: 1;
        transform: scale(1) translateY(0);
      }
    }
  
    .contents {
      padding: 5%;
      opacity: 0;
      transform: scale(0.5) translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
  
      table {
        text-align: left;
        width: 100%;
        th{
            font-size: x-large;
        }
        td{
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
      }
  
      h1, p, table {
        color: #fff;
      }
  
      p {
        font-size: 13px;
      }
    }
  }

  
.bottom{
    margin: 0;
    padding: 0;
    width: 200%;
    height: 6rem;
    transition: transform 0.5s;
    &.clicked{
        transform: translateX(-50%);
    }
    h3, p{
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
white-space: nowrap;
    }
    .left{
        margin: 0;
        width: 50%;
        background: #f4f4f4;
        position:relative;
        float:left;
        height: inherit;
        .details{
          padding: 20px;
          float: left;
          width: calc(70% - 40px);
          height: 100%;
        }
        .buy{
          float:right;
          width: calc(30% - 2px);
          height: 100%;
          background: #f1f1f1;
          transition: background 0.5s;
          border-left:solid thin rgba(0,0,0,0.1);
          i{
            font-size:30px;
            padding:30px;
            color: #254053;
            transition: transform 0.5s;
          }
          &:hover{
            background: #A6CDDE;
          }
          &:hover i{
            transform: translateY(5px);
            color:#00394B;
          }
        }
      }
      .right{        
        width: 50%;
        background: #A6CDDE;
        color: white;
        float:right;
        height: 200%;
        overflow: hidden;
        .details{
          padding: 20px;
          float: right;
          width: 70%
        }
        .done{
          width: 30%;
          float: left;
          transition: transform 0.5s;
          border-right:solid thin rgba(255,255,255,0.3);
          height:50%;
          i{
            font-size:30px;
            padding:30px;
            color: white;
          }
        }
        .remove{
          width: 30%;
          clear: both;
          border-right:solid thin rgba(255,255,255,0.3);
          height:50%;
          background: #BC3B59;
          transition: transform 0.5s, background 0.5s;
          &:hover{
            background: #9B2847;
          }
          &:hover i{
            transform: translateY(5px);
          }
          i{
            transition: transform 0.5s;
            font-size:30px;
            padding:30px;
            color: white;
          }
        }
        &:hover{
          .remove, .done{
            transform: translateY(-100%);
          }
        }
      }
    
}
