*{
    color: white;
}
.container:nth-child(1) {
    position: relative;
    top: 40%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
    background-color: #444950;
    border-radius: 0.3rem;
    width: 30rem;
    height: 35rem;
}
.container:nth-child(2) {
    position: relative;
    left: 30%;
    top: -25%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;
    background-color: #444950;
    border-radius: 0.3rem;
    width: 30rem ;
    height: auto;
}
.premium{
    font-family:  hafit-font;
    font-size: 3rem ;
}
ul { 
    padding-left: 5rem;
    font-size: 1.3rem;
}
p{
    b{
        font-size: 1.5rem;
        padding-left: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .container:nth-child(1) {
        position: relative;
        left: 40%;
        top: 40%;
        transform: translate(-50%, -50%);
        margin-top: 2rem;
        background-color: #444950;
        border-radius: 0.3rem;
        width: 25rem;
        height: 30rem;
    }
    .container:nth-child(2) {
        position: relative;
        top: 25%; 
        left: 40%;
        transform: translate(-50%, -50%);
        background-color: #444950;
        border-radius: 0.3rem;
        width: 25rem;
        height: auto;
    }
}
@media screen and (min-width: 601px) and (max-width: 1550px) {
    .container:nth-child(1) {
        position: relative;
        left: 0%;
        top: 45%;
        transform: translate(-50%, -50%);
        margin-top: 2rem;
        background-color: #444950;
        border-radius: 0.3rem;
        width: 30rem;
        height: 35rem;
    }
    .container:nth-child(2) {
        position: relative;
        top: -30%;
        left: 40%;
        transform: translate(-50%, -50%);
        margin-top: 2rem;
        background-color: #444950;
        border-radius: 0.3rem;
        width: 30rem;
        height: auto;
    }
}