<div class="container d-flex justify-content-center align-items-center">
    <div class="row row-cols-1">
        <div class="col">
            <h2>Subscribe to HAFIT PREMIUM</h2>
        </div>
    </div>
    <div class="row row-cols-1 mt-5 align-items-center pt-5">
        <div class="col">
            <button class="btn btn-success btn-send" id="subscribeBtn">Subscribirse</button>
<button *ngIf="!showPaypalButtons" (click)="pay()">Pagar con paypal</button>
 
 
<ngx-paypal *ngIf="showPaypalButtons" [config]="payPalConfig">
</ngx-paypal>
<button *ngIf="showPaypalButtons" (click)="back()">Volver atras</button>
            <button class="btn btn-danger btn-send" id="cancelBtn">Cancel</button>
        </div>
    </div>

</div>
