<!-- Cards with media area -->
<div class="container">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gap-4 justify-content-center ">
<div  *ngFor= 'let product of products' class="col mb-4">
  <mat-card class="example-card card h-200 " style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
    <mat-card-content class="card-body position-absolute bottom-0 start-0">
      <p class="card-title"><a href="#">{{product.name}}</a></p>
      <p class="card-tetx">{{product.price.$numberDecimal}}€</p>
    </mat-card-content>
  </mat-card>
  </div>
</div>
 </div>
