<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">About Us</h1>
            <p class="lead text-light">We are a team of developers dedicated to creating innovative solutions. Our goal
                is to provide high-quality products that meet the needs of our clients. We combine our skills and
                expertise to deliver exceptional results. Get to know our team members below.</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 text-center user-card rounded">
                <img src="https://cutt.ly/JwqFCtnA" alt="Image" class="rounded-circle"  width="140" height="140">               
                <h2 class="my-3">Leonardo Caero Ledezma</h2>
                <p>Full Stack developer at NTT Data</p>
                <p><a class="btn btn-secondary button-link" href="https://www.linkedin.com/in/leonardo-caero-ledezma/" target="_blank">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4 text-center user-card rounded">
                <img src="https://cutt.ly/4wqFCu8A" alt="Image" class="rounded-circle"  width="140" height="140">     
                <h2 class="my-3">Joel Oña Ferrer</h2>
                <p>Front-end developer at Add Web Services</p>
                <p><a class="btn btn-secondary button-link" href="https://www.linkedin.com/in/joel-o%C3%B1a-ferrer-169411214/" target="_blank">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>