$primary-color: #007bff;
$secondary-color: #393E46;
$main-color: #28a745;
$dark-grey: #222831;

h1 {
    color: $main-color;
    font-family: hafit-font;
}

.user-card {
    padding: 2%;
    border: 0.2rem solid #aaaaaa;
    margin: 2%;
}

.button-link {
    background-color: $main-color;
    border: 2px solid $main-color;

    &:hover {
        background-color: #1d8135;
    }
}