<div class="container">
  <div class="justify-content-center">
    <div class="">
      <div class="wrap">
        <div class="  p-4 p-md-5">
          <div class="d-flex">
            <div>
              <h3 class="mb-4">Customer login</h3>
            </div>
          </div>
          <form action="#" class="signin-form">
            <div class="form-group mt-3">
              <label class="form-control-placeholder" for="username">* Email</label>
              <input type="text" class="form-control mt-2 " required>
            </div>

            <div class="form-group">
              <label class="form-control-placeholder mt-3" for="password">* Password</label>
              <div class="input-group rounded-pill">
              <input id="password-field" type="password" class="form-control mt-2" required>
              <span class="input-group-text border-0 mt-2" onclick="">Show</span>
            </div>
    
            </div>
            <div class="w-50 text-md-right mt-4">
              <a href="#">Forgotten your password?</a>
            </div>
            <div class="form-group">
              <button type="submit" class="w-100 rounded submit mt-4 p-2  sing-in-btn">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>

<!--SIGN UP PART-->
<div class="container-left pt-auto">
  <div class="">
    <div class="">
      <div class="wrap">
        <div class="p-4 p-md-5">
          <div class="d-flex">
            <div>
              <h3 class="mb-4">New customer</h3>
            </div>
          </div>
          <form action="#" class="signin-form">
            <div class="form-group mt-3">
              <!-- <label class="form-control-placeholder" for="username">* Email</label>
              <input type="text" class="form-control mt-2 " required>--> 
              <p class="w-100">Sign up for a HA Fit account to gain access to the lowest priced supplements in Europe. Plus a range of exclusive HAFIT benefits.</p>
              </div>
            <div class="form-group">
              <button type="submit" class="w-100 rounded submit mt-4 p-2 sing-in-btn">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 


<app-footer></app-footer>
