<h3 class="fill-remaining-space">New exercice</h3>
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-element">
      <input placeholder="Name" formControlName="name">
    </div>
    <div class="form-element">
        <input placeholder="Time" formControlName="time">
      </div>
    <div class="form-element">
      <h5 class="form-label">Description</h5>
      <ckeditor formControlName="description" [editor]="Editor" formControlName="description"></ckeditor><!--buscar como hacer para selecionar imagenes locales-->
    </div>
 
  <div class="form-element pt-2">
    <h5 class="form-label">Featured image</h5>
    <input placeholder="Featured image" enctype="multipart/form-data" formControlName="featuredImg" name="featuredImg" class="form-control w-75" type="file" (change)="onFileSelected($event)">
   
  </div>
    <div class="form-element">
      <button  color="primary" type="submit" class="button">Submit</button>
    </div>
  </form>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
  {{errorMessage}}
</div>