<div class="panel panel-primary">
    <!-- <div class="panel-heading">
        PRODUCTS
    </div> -->
    <div *ngIf="products.length==0">
        <h4>No products found</h4>
    </div>
    <div *ngIf="products.length>0" class="d-flex">
        <div class="container text-center w-25">HOLA</div>
        <div class="container text-center w-75 d-flex gap-3 pt-3">
            <div *ngFor="let product of products" class="row row-cols-4">
                <app-product-card [product]="product" class="col"></app-product-card>
            </div>
        </div>


    </div>
</div>