<div class="panel panel-primary">
    <!-- <div class="panel-heading">
        PRODUCTS
    </div> -->
    <div *ngIf="products.length==0">
        <h4>No products found</h4>
    </div>
    <div *ngIf="products.length>0" class="d-flex justify-content-center align-items-center">
        <div class="container text-center w-25">HOLA</div>
        <div class="container text-center w-75 d-flex p-3">
            <div class="row row-cols-5 g-3">
                <div *ngFor="let product of products" class="col mb-3">
                 
                        <app-product-card [product]="product"></app-product-card>
            
                </div>
            </div>
            
        </div>  


    </div>
</div>
