$bg-color: #222831;
$primary-color: #007bff;
$secondary-color: #393E46;
$main-color: #28a745;
$dark-grey: #222831;

$color-letra: white;
$color-letra-hover: rgb(163, 159, 159);

.navbar {
    background-color: $bg-color !important;
    a{
        color: $color-letra;
    }
    a:hover{
        color: $main-color;
    }
}
$transition-time: 0.5s;

.jumbo {
    background-color: $secondary-color !important;
}
.search-icon{
    color: $main-color;
}
.custom-toggler{
  color: $main-color !important;
}

.search-container {
    margin-left: 11rem !important ;
    height: 100%;
}



.navbar:nth-of-type(1) {
    background-color: $dark-grey !important;
}

i {
    color: #fff;
    font-size: large;
    transition: $transition-time;
}

.fa-shopping-cart:hover {
    color: $main-color;
    transition: $transition-time;
}

#userDropdown {
    color: #fff;
    transition: $transition-time;

    &:hover {
        color: $main-color;
        transition: $transition-time;
    }
}

#searchButton {
    border-color: #fff;
    background-color: $main-color;

    &:hover {
        background-color: darken($color: $main-color, $amount: 5);
    }
}

.navbar-collapse {
    text-align: center;
    transition: $transition-time;

    li:hover {
        background-color: $main-color;
        transition: $transition-time;
    }
}
@media (max-width:1024px){
    #search-box{
        display: none;
    }
}
