
<div *ngIf="exercices.length==0">
    <h4>No exercices found</h4>
  </div>
    <div *ngIf="exercices.length>0" class="d-flex justify-content-center align-items-center">
      <!-- <div class="container text-center w-25">HOLA</div> -->
      <div class="container d-flex p-3 row">
        <div class="row">
          <div class="col"> 
            <p class="fa-pull-right"><a  *ngIf="userType === 'soci'" [routerLink]="['/exercices/add']" class="w-100 addExercice" ><i class="fa-solid fa-plus"></i></a></p>
            <p ><a [routerLink]="['exercices']">exercices </a></p>
          </div>
        </div>
      
      <div class="row row-cols-auto justify-content-center col-lg-12 ">
      <div  *ngFor= 'let exercice of exercices' class="col mb-3"> 
        <div class="row my-2"></div>
        <div class="col-lg-4 col-md-6 col-sm-6 w-100">
          <mat-card class="example-card card h-200  " style="background-image: url({{exercice.featuredImg}});">
            <a [routerLink]="['/exercices/exercice',exercice.exerciceId]">
            <mat-card-content class="card-body position-absolute bottom-0 start-0">
              <p class="card-title"><a [routerLink]="['/exercices/exercice',exercice.exerciceId]">{{exercice.name}}</a></p>
              <p class="card-text"><a *ngIf="exercice.user === user"[routerLink]="['/exercices/edit',exercice.exerciceId]">Edit</a></p>
            </mat-card-content>
            </a>
          </mat-card>
          </div>
      </div>
      </div>
       
    </div>