
<div *ngIf="plans.length==0">
  <h4>No plans found</h4>
</div>
  <a [routerLink]="['/plans/add']">New plan</a>
  <div  *ngFor= 'let plan of plans' class=" col mt-4 mb-4 "> 
      <mat-card *ngIf="plan.featuredImg!='null'" class="example-card card h-200  " style="background-image: url({{plan.featuredImg}});">
        <a [routerLink]="['/plans/plan',plan.planId]">
        <mat-card-content class="card-body position-absolute bottom-0 start-0">
          <p class="card-title"><a [routerLink]="['/plans/plan',plan.planId]">{{plan.name}}</a></p>
          <p class="card-text">{{plan.planId}} <a *ngIf="plan.user"[routerLink]="['/plans/edit',plan.planId]">Edit</a></p>
        </mat-card-content>
        </a>
      </mat-card>
  </div> 
  