<div class="panel panel-primary">
<div *ngIf="plans.length==0">
  <h4>No plans found</h4>
</div>
<div *ngIf="plans.length>0" class="d-flex justify-content-center align-items-center">
  <div class="container d-flex p-3 row">
    <div class="row">
      <div class="col"> 
        <p class="fa-pull-right"><a  *ngIf="userType === 'soci'" [routerLink]="['/plans/add']" class="w-100 addPlan" ><i class="fa-solid fa-plus"></i></a></p>
        <p ><a [routerLink]="['../plans']">plans </a></p>
      </div>
    </div>
 
  <div class="row row-cols-auto justify-content-center col-lg-12 ">
  <div  *ngFor= 'let plan of plans' class="col mb-3"> 
    <div class="row my-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 w-100">
      <mat-card class="example-card card h-200  " style="background-image: url({{plan.featuredImg}});">
        <a [routerLink]="['/plans/plan',plan.planId]">
        <mat-card-content class="card-body position-absolute bottom-0 start-0">
          <p class="card-title" ><a [routerLink]="['/plans/plan',plan.planId]">{{plan.name}}</a></p>
        </mat-card-content>
        </a>
      </mat-card>
      </div>
  </div>
  </div>
   
</div>
  