  <div  *ngFor= 'let plan of plans' class=" col mt-4 mb-4 ">
      <mat-card class="example-card card h-200  " style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
        <mat-card-content class="card-body position-absolute bottom-0 start-0">
          <p class="card-title"><a href="#">{{plan.name}}</a></p>
          <p class="card-text">{{plan.planId}}€ <a [routerLink]="['/edit',plan.planId]">Edit</a></p>
        </mat-card-content>
      </mat-card>
  </div>
