<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card" *ngIf="auth.user$ | async as user">
          <div class="rounded-top text-white d-flex flex-row"
            style="height:200px; background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg)">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img [src]="user.picture" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2 imageEdit"
                style="width: 150px; z-index: 1">
              <button type="button" class="btn {{editActive ? 'btn-success text-light ': 'btn-outline-dark'}}"
                data-mdb-ripple-color="dark" style="z-index: 1;" (click)="profileEdit()">
                {{editActive ? "Save profile": "Edit profile" }}
              </button>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <div *ngIf="!editActive">
                <h5>{{!user.given_name ? (userData?.name ? userData?.name : userData?.email) : user.given_name}}
                  {{user.family_name}}</h5>
              </div>
              <div *ngIf="editActive">
                <input type="text" class="form-control" #userName value="{{userData?.name}}"
                  (keyup)="nameChange(userName.value)">
              </div>

              <p>{{userData?.email}}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">33</p>
                <p class="small text-muted mb-0">Products</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">12</p>
                <p class="small text-muted mb-0">Plans</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div *ngIf="!editActive">
                <div class="p-4" style="background-color: #f8f9fa;" [innerHTML]="userData?.biography">

                </div>
              </div>
              <div *ngIf="editActive" style="margin-bottom: 5rem !important;">
                <ckeditor [editor]="Editor" data="{{userData.biography}}"
                  [config]="{ toolbar: [ 'undo','redo','|','heading', '|', 'bold', 'italic', 'link' ] }"
                  (change)="onChange($event)"></ckeditor>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>