$color-terciario: #28a745;
*{
    color: white;
}
img{
    width: 30rem !important;
    max-width: 30rem !important;
    // height: 25rem !important;
    max-height: 25rem !important;
}
.btn-success {
    background-color:transparent !important;
    border-color: $color-terciario !important;
    &:hover{
        background-color:$color-terciario !important;
    }
}
.margin{
    margin-top: 5rem !important;
}
  
.text{
    width:75% !important;
}
a{
    text-decoration: none;
    &:hover{
        color: $color-terciario;
    }
}
.description{
    width: 45rem ;
    margin-left: 15rem !important;
}

@media screen and (max-width: 600px) {
    .description{
        margin-top: 2rem;
        margin-left: 0rem !important;
    }
    img{
        margin-top: 1rem ;
        width: 24rem !important;
    }
}