
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <a href="#" [routerLink]="['../../../plans']">plans </a> <i class="fa-solid fa-angle-right"></i> plan <i class="fa-solid fa-angle-right"></i> {{this.plan?.name}}
    </div>
  </div>
    <div class="row">
      <div class="col-md-6 w-25">
        <img *ngIf="plan?.featuredImg ==='default'" [src]=defaultImage alt="Plan" class="img-fluid" />
        <img *ngIf="plan?.featuredImg !='default'" [src]="plan?.featuredImg" alt="" class="img-fluid" />
      </div>
      <div class="col-md-6 description">
        <h1 class="text-light">{{plan?.name?.toLocaleUpperCase()}}</h1>
        <p class="lead text-light w-100" [innerHTML]="plan?.description"></p>
      </div>
    </div>
    <div class="row justify-content-end margin">
      <div class="col-md-6">
        <button id="edit" class="btn btn-success btn-send mt-4 pt-2 btn-block text-uppercase fa-pull-right" *ngIf="plan?.user === user"[routerLink]="['/plans/edit',plan?.planId]"><i class="fa-solid fa-pen"></i> Edit</button>
      </div>
    </div>
  </div>